<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" th:method="GET">
    <input type="submit" value="Logout">
</form>

<table>
    <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Birthdate</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.username()}">Username</td>
        <td th:utext="${user.firstname()}">Firstname</td>
        <td th:utext="${user.lastname()}">Lastname</td>
        <td th:utext="${user.birthdate()}">Birthdate</td>
        <td th:utext="${user.roles()}">Roles</td>
        <td>
            <form method="POST" action="/admin/delete">
                <input type="hidden" th:attr="value=${user.username()}" name="username">
                <input type="submit" value="Delete">
            </form>

            <form method="GET" action="/admin/change">
                <!--/*@thymesVar id="username" type="ru.kata.spring.boot_security.demo.dto.ShowUserReadDto"*/-->
                <input type="hidden" th:attr="value=${user.username()}" name="username">
                <input type="submit" value="Change">
            </form>
        </td>
    </tr>
</table>

<form th:method="GET" action="admin/create">
    <input type="submit" value="Create">
</form>
</body>
</html>