<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid bg-dark m-0 p-0">
    <div class="row m-o p-2">
        <div class="col-11 text-white">
            <span class="h5">
                <th:block
                        th:text="${admin.username()}">
                </th:block>
            </span>
            <span class="font-weight-light">
                <th:block
                        th:text="'with roles: ' + ${admin.roles()}">
                </th:block>
            </span>
        </div>

        <div class="col-1 text-white">
            <a class="btn-link text-secondary" type="submit" href="/logout">Logout</a>
        </div>
    </div>
</div> <!-- Header -->
<br>
<div class="d-flex align-items-start">
    <div class="col-2 m-o p-o">
        <div class="nav flex-column nav-pills me-3" id="Left-menu" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="Admin-pills-tab" data-bs-toggle="pill" href="#Admin-pills"
               role="tab" aria-controls="Admin-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="User-pills-tab" data-bs-toggle="pill" href="#User-pills"
               role="tab" aria-controls="User-pills-home" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 m-0"> <!-- Main column -->
        <div class="tab-content container-fluid" id="Left-menuContainer">

            <div class="tab-pane fade show active" id="Admin-pills"
                 role="tabpanel" aria-labelledby="Admin-pills-tab">
                <div class="h1">Admin panel</div>
                <br>
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- Table admin -->
                    <a class="nav-link" id="nav-home-tab" data-bs-toggle="tab" href="#hav-home"
                       role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#hav-profile"
                       role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active-table-tab" id="hav-home"
                         role="tabpanel" aria-labelledby="nav-home-tab">

                        <!-- Table to users -->
                        <div class="card">
                            <div class="card-header h5">
                                All users
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.id()}"></td>
                                        <td th:text="${user.firstname()}"></td>
                                        <td th:text="${user.lastname()}"></td>
                                        <td th:text="${user.age()}"></td>
                                        <td th:text="${user.username()}"></td>
                                        <td th:text="${user.roles().replace(',', '')}"></td>
                                        <td>
                                            <!-- Button Edit -->
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#modalEdit' + user.id()}"> Edit
                                            </button>
                                        </td>
                                        <td>
                                            <!-- Button delete -->
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#modalDelete' + user.id()}"> Delete
                                            </button>
                                        </td>
                                        <div class="modal fade" th:id="${'modalEdit' + user.id()}">
                                            <!-- Edit page -->
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="formEdit" th:method="POST" role="form"
                                                          th:action="@{/admin/update/{id} (id=${user.id()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="modalVerticallyCenteredLabel1">
                                                                Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body text-center font-weight-bold">
                                                            <div class="row">
                                                                <div class="col-3"></div>
                                                                <div class="h6 col-6">
                                                                    <label for="userId">ID</label>
                                                                    <input th:name="id" th:type="text"
                                                                           class="form-control"
                                                                           id="userId" th:value="${user.id()}"
                                                                           disabled>
                                                                    <br>

                                                                    <label for="userFirstname">First Name</label>
                                                                    <input th:name="firstname" th:type="text"
                                                                           class="form-control"
                                                                           id="userFirstname"
                                                                           th:value="${user.firstname()}">
                                                                    <br>

                                                                    <label for="userLastname">Last Name</label>
                                                                    <input th:name="lastname" th:type="text"
                                                                           class="form-control"
                                                                           id="userLastname"
                                                                           th:value="${user.lastname()}">
                                                                    <br>

                                                                    <label for="userAge">Age</label>
                                                                    <input th:name="age" th:type="text"
                                                                           class="form-control"
                                                                           id="userAge"
                                                                           th:value="${user.age()}">
                                                                    <br>

                                                                    <label for="userUsername">Email</label>
                                                                    <input th:name="username" th:type="text"
                                                                           class="form-control"
                                                                           id="userUsername"
                                                                           th:value="${user.username()}">
                                                                    <br>

                                                                    <label for="userPassword">Password</label>
                                                                    <input th:name="password" th:type="password"
                                                                           class="form-control"
                                                                           id="userPassword">

                                                                    <label for="userRoles">Roles</label>
                                                                    <select th:name="roles" class="form-control"
                                                                            id="userRoles"
                                                                            size="2" multiple required>
                                                                        <option th:each="role : ${rolesAll}"
                                                                                th:value="${role.name().replace('ROLE_', '')}"
                                                                                th:selected="${user.roles().contains(role.name().replace('ROLE_', ''))}"
                                                                                th:text="${role.name().replace('ROLE_', '')}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>

                                                            <button type="submit" class="btn btn-primary">Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:id="${'modalDelete' + user.id()}">
                                            <!-- Delete page -->
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <form id="formDelete" th:method="POST" role="form"
                                                          th:action="@{/admin/delete/{id} (id=${user.id()})}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="modalVerticallyCenteredLabel2">
                                                                Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>

                                                        <div class="modal-body text-center font-weight-bold">
                                                            <div class="row">
                                                                <div class="col-3"></div>
                                                                <div class="h6 col-6">
                                                                    <label for="userIdD">ID</label>
                                                                    <input th:name="id" th:type="text"
                                                                           class="form-control"
                                                                           id="userIdD" th:value="${user.id()}"
                                                                           disabled>
                                                                    <br>

                                                                    <label for="userFirstnameD">First Name</label>
                                                                    <input th:name="firstname" th:type="text"
                                                                           class="form-control"
                                                                           id="userFirstnameD"
                                                                           th:value="${user.firstname()}" disabled>
                                                                    <br>

                                                                    <label for="userLastnameD">Last Name</label>
                                                                    <input name="lastname" th:type="text"
                                                                           class="form-control"
                                                                           id="userLastnameD"
                                                                           th:value="${user.lastname()}" disabled>
                                                                    <br>

                                                                    <label for="userAgeD">Age</label>
                                                                    <input name="age" th:type="text"
                                                                           class="form-control"
                                                                           id="userAgeD" th:value="${user.age()}"
                                                                           disabled>
                                                                    <br>

                                                                    <label for="userUsernameD">Email</label>
                                                                    <input name="username" th:type="text"
                                                                           class="form-control"
                                                                           id="userUsernameD"
                                                                           th:value="${user.username()}" disabled>
                                                                    <br>

                                                                    <label for="userRolesD">Roles</label>
                                                                    <select th:name="roles" class="form-control"
                                                                            id="userRolesD" size="2" disabled>
                                                                        <option th:each="role : ${rolesAll}"
                                                                                th:value="${role.name()}"
                                                                                th:selected="${user.roles().contains(role.name().replace('ROLE_', ''))}"
                                                                                th:text="${role.name().replace('ROLE_', '')}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="hav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="card-header h5">
                                Add new user
                            </div>
                            <div class="card-body">
                                <form id="formNew" th:method="POST" th:action="@{admin/add}"
                                      th:object="${userToCreating}">
                                    <div class="text-center font-weight-bold">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="h6 col-4">
                                                <label for="userFirstnameN">First Name</label>
                                                <input th:name="firstname" th:type="text" class="form-control"
                                                       id="userFirstnameN" placeholder="First name">
                                                <br>

                                                <label for="userLastnameN">Last Name</label>
                                                <input th:name="lastname" th:type="text" class="form-control"
                                                       id="userLastnameN" placeholder="Lastname">
                                                <br>

                                                <label for="userAgeN">Age</label>
                                                <input th:name="age" th:type="text" class="form-control"
                                                       id="userAgeN" placeholder="Age">
                                                <br>

                                                <label for="userEmailN">Email</label>
                                                <input th:name="username" th:type="text" class="form-control"
                                                       id="userEmailN" placeholder="Email">
                                                <br>

                                                <label for="userPasswordN">Password</label>
                                                <input th:name="password" th:type="password" class="form-control"
                                                       id="userPasswordN" placeholder="Password">
                                                <br>

                                                <label for="userRolesN">Role</label>
                                                <select th:name="roles" class="form-control" id="userRolesN"
                                                        size="2"
                                                        multiple required>
                                                    <option th:each="role : ${rolesAll}"
                                                            th:text="${role.name().replace('ROLE_', '')}">

                                                    </option>
                                                </select>
                                                <br>
                                                <div>
                                                    <button type="submit" class="btn btn-success"> Add new user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="User-pills" role="tabpanel" aria-labelledby="User-pills-tab">
                <div class="h1">User page</div>
                <br>
                <div class="card">
                    <div class="card-header h5">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${admin.id()}"></td>
                                <td th:text="${admin.firstname()}"></td>
                                <td th:text="${admin.lastname()}"></td>
                                <td th:text="${admin.age()}"></td>
                                <td th:text="${admin.username()}"></td>
                                <td th:text="${admin.roles()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>
